<main>
  <div class="container">
    <div class="profile-container">
      <div class="profile-main">
        <div class="profile-picture">
          <span class="frame"><img src="assets/profile_picture.jpg" alt=""></span>
        </div>
        <h2 class="title">Alexa Smith</h2>
        <p class="intro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nam placeat voluptate reiciendis deleniti voluptatum quam, illum hic nobis voluptatem!
        </p>
        <a class="button">
          <i class="fa-solid fa-phone" style="margin-right: 0.35rem;"></i>
          <span>Call me maybe</span>
        </a>
      </div>
      <div class="profile-footer">
        <ul class="icons">
          <li class="icon">
            <a>
              <i class="fa-brands fa-sm fa-x-twitter"></i>
            </a>
          </li>
          <li class="icon">
            <a>
              <i class="fa-brands fa-sm fa-instagram"></i>
            </a>
          </li>
          <li class="icon">
            <a>
              <i class="fa-brands fa-sm fa-mastodon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
